<div *ngIf="viewType ==  'search' " class="container customer">
  <div class="row justify-content-center">
      <div class="col-md-2 col-md-offset-5">
          <img  src="./../../assets/img/customers.jpg">
          <div class="customer__data">
              <h1>Customers</h1>
          </div>
      </div>
      <div class="customer__search">

      </div>
      <div class="input-group rounded">
          <input type="search" class="form-control rounded" placeholder="Full name" aria-label="Search"
            aria-describedby="search-addon" [(ngModel)]="fullName" />
          <button class="input-group-text border-0" id="search-addon" (click)="search()">
            <i class="fas fa-search"></i>
          </button>
        </div>
        <div class="customer__search_all col-md-1 col-md-offset-6">
          <button type="button" class="btn btn-dark" (click)="search_all()">All</button>
        </div>
  </div>
</div>

<div *ngIf="viewType ==  'summary'" class="container customer">
<div class="row justify-content-center">
  <div class="col-md-2 col-md-offset-5">
    <div class="customer__data">
        <h1>Customers</h1>
    </div>
  </div>
</div>
<div class="customer__search">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Full Name</th>
        <th scope="col">Nick Name</th>
        <th scope="col">Document</th>
        <th scope="col">Document Type</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let customer of customers">
        <td>{{customer.id}}</td>
        <td>{{customer.fullName}}</td>
        <td>{{customer.nickName}}</td>
        <td>{{customer.document}}</td>
        <td>{{customer.documentType}}</td>
        <td>
          <button class="input-group-text border-0" id="search-addon" (click)="detail(customer.id)">
            <i class="fas fa-search"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <button type="button" class="btn btn-dark" (click)="backOne()">Back</button>
  </div>
</div>
</div>

<div *ngIf="viewType ==  'detail'" class="container">
<div class="row justify-content-center">
  <form class="text-center border border-light p-5">
    <p class="h4 mb-4">Personal Data</p>

    <div class="row">
      <div class="col-6 customer__detail">
        <label>Full Name:</label>
        <input type="text" id="defaultRegisterFormFirstName" class="form-control" [readonly]="true"
        [(ngModel)]="customer.fullName" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="col-4 customer__detail" >
        <label>Nick Name:</label>
        <input type="text" id="defaultRegisterFormLastName" class="form-control" [readonly]="true"
        [(ngModel)]="customer.nickName" [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <div class="row">
      <div class="col-6 customer__detail">
        <label>Document:</label>
        <input type="text" id="defaultRegisterFormLastName" class="form-control" [readonly]="true"
        [(ngModel)]="customer.document" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="col-4 customer__detail" >
        <label>Document Type:</label>
        <input type="text" id="defaultRegisterFormLastName" class="form-control" [readonly]="true"
         [(ngModel)]="customer.documentType" [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <div class="row">
      <div class="col-10 customer__detail">
        <label>E-mail</label>
        <input type="text" id="defaultRegisterFormLastName" class="form-control" [readonly]="true"
        [(ngModel)]="customer.email" [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <p class="h4 mb-4" style="margin-top: 10px;">Address</p>
    <div class="row">
      <div class="col-6 customer__detail">
        <label>Country:</label>
        <input type="text" id="defaultRegisterFormLastName" class="form-control" [readonly]="true"
        [(ngModel)]="address.country" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="col-4 customer__detail" >
        <label>City</label>
        <input type="text" id="defaultRegisterFormLastName" class="form-control" [readonly]="true"
         [(ngModel)]="address.city" [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <div class="row">
      <div class="col-6 customer__detail">
        <label>State:</label>
        <input type="text" id="defaultRegisterFormLastName" class="form-control" [readonly]="true"
        [(ngModel)]="address.state" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="col-4 customer__detail" >
        <label>Neighborhood:</label>
        <input type="text" id="defaultRegisterFormLastName" class="form-control" [readonly]="true"
         [(ngModel)]="address.neighborhood" [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <div class="row">
      <div class="col-6 customer__detail">
        <label>Complement:</label>
        <input type="text" id="defaultRegisterFormLastName" class="form-control" [readonly]="true"
        [(ngModel)]="address.complement" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="col-4 customer__detail" >
        <label>Number:</label>
        <input type="text" id="defaultRegisterFormLastName" class="form-control" [readonly]="true"
         [(ngModel)]="address.number" [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <p class="h4 mb-4" style="margin-top: 10px;">Contact</p>
    <div class="row" style="padding-bottom: 50px;">
      <div class="col-3 customer__detail">
        <label>Country Code:</label>
        <input type="text" id="defaultRegisterFormLastName" class="form-control" [readonly]="true"
        [(ngModel)]="contact.countryCode" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="col-3 customer__detail" >
        <label>Area Code</label>
        <input type="text" id="defaultRegisterFormLastName" class="form-control" [readonly]="true"
         [(ngModel)]="contact.areaCode" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="col-4 customer__detail" >
        <label>Number</label>
        <input type="text" id="defaultRegisterFormLastName" class="form-control" [readonly]="true"
         [(ngModel)]="contact.phoneNumber" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div>
      <button type="button" class="btn btn-dark" style="   margin-bottom: 50px" (click)="backTwo()">Back</button>
    </div>
   </form>
  </div>
</div>

