<div class="container customer">
    <div class="row justify-content-center">
        <div class="col-md-2 col-md-offset-5">
            <img  src="./../../assets/img/customers.jpg">
            <div class="customer__data">
                <h1>Customers</h1>
            </div>
        </div>
        <div class="customer__search">

        </div>
        <div class="input-group rounded">
            <input type="search" class="form-control rounded" placeholder="Full name" aria-label="Search"
              aria-describedby="search-addon" />
            <button class="input-group-text border-0" id="search-addon">
              <i class="fas fa-search"></i>
            </button>
          </div>
    </div>

</div>
