.customer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 8%;

    img {
        width: 100%;
        height: auto;
    }

    &__data {
        margin-top: 20px;
    }

    &__search {
        width: 100%;
        margin-top: 10px;
    }

    &__search_all {
        margin-top: 10px;
    }

    &__detail {
       margin: 8px;
    }
    
}